@import "../../variables.scss";

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background-image: url("../../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__notch {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 25%;
  }

  @media #{$screen-medium} {
    background-image: url("../../images/desktop/image-hero.jpg");
    background-position: center;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }

  &__heading {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    font-size: 3rem;
    color: $color-white;
    border: 1px solid $color-white;

    &--animate {
      animation-name: reveal-horizontal-2;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }

    @media #{$screen-extra-small} {
      padding: 16px;
      font-size: 2rem;
    }

    @media #{$screen-small} {
      font-size: 3.5rem;
    }

    @media #{$screen-medium} {
      width: 60%;
      max-width: 600px;
      padding: 32px;
      font-size: 4rem;
    }

    @media #{$screen-large} {
      font-size: 4.5rem;
    }
  }

  &__icon {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    z-index: 2;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    @media #{$screen-medium} {
      left: calc(50% - 32px);
      width: 64px;
      height: 64px;
    }
  }
}
